<!DOCTYPE html>
<html>
<head>
	<title>Papeleria</title>
	<link rel="stylesheet" type="text/css" href="../css/selecColegios.css">
</head>
<body>
<div>
	<nav>
		  <div>Logo</li>
	</nav>
	<div id="formFunc">
		<form name="formLogin">
			<div id="formLine">
			  <label>Cantidad de vouchers: 2</label>
			</div>
	    	<div id="formLine">
			  <label>Por favor, por cada colegio y nivel que desee ingreser seleccionelo y presione "Agregar Nivel</label>
			</div>
			<div id="formLine">
			  <label>Colegio</label>
			  <select id="convenio"></select>
			</div>
			<div id="formLine">
			  <label>Nivel</label>
			  <select id="convenio"></select>
			</div>
	      </form>
	</div>
</div>
</body>
</html>